<!--Menu-->
<div class="hidden-xs menu">
  <div class="list-group cbp-l-filters-button js-filters-juicy-projects" *ngIf="app">
    <div class="cbp-filter-item list-group-item logo">
      <h1>{{app.title}}</h1>
    </div>

    <!--Menu items-->
    <div
      *ngFor="let navItem of app.tabs | objectProps"
      class="cbp-filter-item list-group-item hvr-underline-from-left text-uppercase">
      {{app.tabs[navItem].headingText}}
    </div>
<!--
    <div class="cbp-filter-item list-group-item hvr-underline-from-left text-uppercase"> All Portfolio </div>
    <div class="cbp-filter-item list-group-item hvr-underline-from-left text-uppercase"> Movie </div>
    <div class="cbp-filter-item list-group-item hvr-underline-from-left text-uppercase"> Identity </div>
    <div class="cbp-filter-item list-group-item hvr-underline-from-left text-uppercase"> Web Design</div>
    <div class="cbp-filter-item list-group-item hvr-underline-from-left text-uppercase"> Graphic</div>
    <div class="cbp-filter-item list-group-item hvr-underline-from-left text-uppercase"> Logo</div>
-->

    <!--Contact-->
    <div class="list-group-item">
      <address>
        <strong>Company, Inc.</strong><br>
        1234 Lorem Street, 100<br>
        Lorem Ipsum City, 10100<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
        <br /><br />
        <a href="#map" data-toggle="modal"><i class="glyphicon glyphicon-map-marker"></i></a>
      </address>
      <address>
        <strong>Your Name</strong><br>
        <a href="mailto:#">your.name@email.com</a>
      </address>
    </div>
    <!--/Contact-->

  </div>
</div>
<!-- /Menu-->
