<!--footer -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="hidden-xs col-sm-3 col-md-4">
        <small class="footer-small">2017 © &nbsp; Made with love by ThemeBang</small>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-8">
        <!--Address -->
        <div class="visible-xs text-center">
          <address>
            <strong>Company, Inc.</strong><br>
            1234 Lorem Street, 100<br>
            Lorem Ipsum City, 10100<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
            <br /><br />
            <i aria-hidden="true" data-toggle="modal" data-target="#map" class="glyphicon glyphicon-map-marker"></i>
          </address>
          <address>
            <strong>Your Name</strong><br>
            <a href="mailto:#">your.name@email.com</a>
          </address>
        </div>
        <!-- /Address -->
        <!--Social Media -->
        <ul class="social-icons">
          <li class="facebook"><a href="#" target="_blank">Facebook</a> </li>
          <li class="twitter"><a href="#" target="_blank">Twitter</a></li>
          <li class="googleplus"> <a href="#" target="_blank">Google +</a></li>
          <li class="youtube"><a href="#" target="_blank">YouTube</a></li>
          <li class="pinterest"> <a href="#" target="_blank">Pinterest</a></li>
          <li class="vimeo"><a href="#" target="_blank">Vimeo</a></li>
          <li class="linkedin"><a href="#" target="_blank">LinkedIn</a></li>
          <li class="rss"><a href="#" target="_blank">RSS Feed</a></li>
        </ul>
        <div class="clearfix"></div>
        <!-- /Social Media -->
      </div>
    </div>
  </div>
</footer>
<!-- /footer -->
